/* ---- START: Text Basics ---- */

* {
  font-family: "Karla", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family:  "Markazi Text", serif;
  line-height: 1.4em;
}
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 16pt;
}
p {
  font-size: 16pt;
  line-height:1.5em;
  max-width: 65ch;
}

/* ---- END: Text Basics ---- */
/* ---- START: Layout & Spacing Basics ---- */

body {
  @media (min-width:1025px) {
    padding-right: 10vw;
    padding-left: 10vw;
  }
  @media (min-width: 641px) and (max-width:1024px) {
    padding-right: 80px;
    padding-left: 80px;
  }
  @media (max-width: 640px) {
    padding: 0px;
  }
}
article {
  padding-top: 30px;
  padding-bottom: 60px;
}
section {
  padding-top: 30px;
  padding-bottom: 30px;

  @media (max-width: 640px) {
    padding: 30px;
  }
}
img {
  width: 100%;
  overflow: hidden;
  object-fit:cover;
  object-position: center;
}
button {
  padding: 10px 15px;
  border-radius: 5px;
  background-color: black;
  color: white;
  border: 0px;
  font-size: 1.1em;
  width: fit-content;
  text-wrap: nowrap;
  &:hover {
    cursor: pointer;
    background-color: #FACE14;
    color: black;
    font-weight: bold;
  }
}
@media (min-width: 641px) {
  .full-width-wrapper {
    position: relative;
  }
  
  .full-width-wrapper::before, .full-width-wrapper::after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0%;
    background-color: inherit;
    z-index: 0;
  }
  
  .full-width-wrapper::before {
    left: 100%;
  }
  
  .full-width-wrapper::after {
    right: 100%;
  }
  
}
/* ---- END: Layout Basics ---- */
/* ---- START: Screen Reader Classes ---- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* ---- END: Screen Reader Classes ---- */
/* ---- START: Logo & Navbar ---- */

.nav__container {
  display: flex;
  height: 60px;
  padding-top: 10px;
  padding-bottom: 15px;
}
.nav__container ul {
  display: flex;
  justify-content: space-evenly;
  li {
    list-style: none;
    align-items:center;
    }
}
.nav__container ul li a,
.nav__container ul li a:active,
.nav__container ul li a:visited {
  text-decoration: none;
  font-size: 1.1em;
  color: black;
}
.nav__container ul li a:hover {
  text-decoration: underline;
}
.logo-container {
  display: flex;
}
.logo {
  align-items:center;
  width: 200px;
  height: auto;
}
.logo-container a {
  text-decoration: none;
}
/* Desktop */
@media (min-width:1025px) {
  .nav__container {
    height: 50px;
  }
  .nav__container {
    .logo-container {
      width: 25vw;
    }
    ul {
      width: 75vw;
    }
  }
  .logo {
    width: 200px;
    height: auto;
  }
}
/* Tablet & Mobile */
@media (max-width:1024px) {
  .nav__container {
    display: block;
  }
  .nav__container {
    .logo-container {
      display: block;
      width: 100%;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      li a {
        font-size: 0.9em;
      }
    }
  }
  .logo {
    width: 200px;
    height: auto;
  }
}
/* ---- END: Logo & Navbar ---- */
/* ---- START: Featured Banner ---- */
.home .featured-banner.hero-banner {
    background-color: #495E57;
    color: white;
    .featured-banner__title {
      font-size: 40pt;
    }
}
.featured-banner  {
  display: flex;
}
.featured-banner__text-container {
  @media (min-width:1025px) {
    width: 50%;
    padding-right: 60px;
  }
}
h2.featured-banner__title {
  padding: 10px 0px 0px 0px;
  margin: 0px;
  line-height: 1em;
}
.featured-banner__subtitle {
  margin: 0px;
}
.featured-banner__text-container {
  max-height: 350px;
}
.featured-banner__text {
  margin: 0px;
  @media (min-width:1025px) {
    padding: 20px 0px 60px 0px;
  }
}

.featured-banner__img-container {
  width: 50%;
  img {
    width: 100%;
  }
}
.featured-banner.about-banner {
  max-height: 350px;
}
img.featured-banner__back-image,
img.featured-banner__front-image {
  position: relative;
  width: 250px;
  height: 300px;
}
.featured-banner__back-image {
  left: -25px;
  bottom: -50px;
  transform: scaleX(-1);
}
.featured-banner__front-image {
  left: 175px;
  bottom: 300px;
}
/* ---- END: Featured Banner ---- */
/* ---- START: Featured Cards ---- */
section.featured-cards {
  padding-bottom: 60px;
}
.featured-cards__title-row,
.featured-cards__card-row,
.card {
    display: flex;
    justify-content: space-evenly;
}
.featured-cards__title-row {
  align-items: center;
}
.featured-cards__title {
  width: 100%;
}
.featured-cards__card-row {
    justify-content: space-between;
}
.card {
    flex-flow: column;
    border: 1px solid #EDEFEE;
    border-radius: 5px;
    max-height: 350px;
    overflow:hidden;
    @media (min-width:1025px) {
      width: 25vw;
    }
}
.card__image {
  border-radius: 5px 5px 0px 0%;
  height: 150px;
  max-height: 150px;
}
.card__text-container {
    padding: 15px;
    height: 200px;
}
.card__title-row {
  display: flex;
}
h3.card__title {
  padding: 0px;
  margin: 0px;
  width: 70%;
}
.card__price {
  padding: 5px 0px 0px 0px;
  text-align: right;
  width: 30%;
}
.card__description {
  font-size: 1em;
}
/* ---- END: Featured Cards ---- */
/* ---- START: Testimonial Banner ---- */
section.testimonial-banner {
  background-color: #EDEFEE;
  padding-bottom: 70px;
}
.testimonial-banner__testimonial-container,
.testimonial__image-name-row {
  display: flex;
  justify-content: space-evenly;
}
.testimonial-banner__title {
  text-align: center;
}
.testimonial {
  max-height: 120px;
  height: 120px; 
  width: 190px;
  overflow: hidden;
  border-radius: 5px;
  background-color: white;
  padding: 15px;
}
.testimonial__image-name-row {
  align-items: center;
}
.testimonial__image {
  width: 50px;
  height: 50px;
  padding-right: 15px;
  object-fit: scale-down;
}
h3.testimonial__name {
  width: 100%;
  margin: 0px;
}
.testimonial__quote {
  font-size: 1em;
  line-height: 1.1em;
  margin: 0px;
  padding: 5px 0px;
  text-overflow: ellipsis;
}
/* ---- END: Testimonial Banner ---- */
/* ---- START: Forms ---- */
.form-container {
  padding-bottom: 60px;
  @media (min-width:1025px) {
    width: 50%;
    margin: 0px 25%;
  }
  @media (min-width: 641px) and (max-width:1024px) {
    width: 70%;
    margin: 0px 15%;
  }
  @media (max-width: 640px) {
    width: 100%;
    padding: 0px;
  }
}
.form__field-group {
  padding: 12px 0px;
}
label {
  font-size: 1em;
  padding-left: 3px;
}
.required::after {
  content:"\002A";
  color:red;
}
.form__field-group input,
.form__field-group select {
  margin-top: 2px;
  width: 100%;
  height: 2.5em;
  border-radius: 5px;
  border: 2px solid #EDEFEE;
  &:focus {
    border: 2px solid #495E57;
    outline-color: #495E57;
  }
}

.form__field-group input {
  width: 98%;
  &::placeholder {
    font-size: 1.2em;
    padding: 0px 5px;
    color: #9e9e9e; 
  }
}
.form__field-group select {
  font-size: 1em;
  padding: 0px 5px;
  color: #9e9e9e;
}
.submit-button {
  margin: 20px 15% 0px 15%;
  width: 70%;
  text-align: center;
}
.no-account-message {
  text-align: center;
  font-size: 1em;
  margin-top: 5em;
}
/* ---- END: Forms ---- */
/* ---- START: Footer ---- */
footer {
  display: flex;
  background-color: #495E57;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px;
  justify-content: space-between;
}
.footer__column-1 {
  align-content: center;
}
img.footer__logo {
  width: 100px;
}
footer {
  h2 {
    margin: 0px;
    font-size: 1.5em;
  }
  ul {
    list-style:none;
    margin: 0px;
    padding:0px;
    li {
      padding-top: 5px;
    }
  }
}
footer ul li a,
footer ul li a:visited,
footer ul li a:active {
  color: white;
  text-decoration:none;
}
footer ul li a:hover {
  text-decoration:underline;
}
/* ---- END: Footer ---- */
/* ---- START: Home Only ---- */
article.home {
  padding: 0px;
}
/* ---- START: Home Only ---- */
/* ---- START: Logged In Links ---- */
/* header and footer */
.nav__hover-state-links {
  display: block;
  padding-top: 5px;
}
/* header only */
nav .nav__hover-state-links {
  display:none
}
nav .account-hover:hover .nav__hover-state-links {
  display:block;
  background-color: rgba(250, 206, 20,0.15);
  padding: 10px;
}