/* ---- START: Text Basics ---- */

* {
  font-family: "Karla", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
  font-family:  "Markazi Text", serif;
  line-height: 1.4em;
}
h1 {
  font-size: 40pt;
}
h2 {
  font-size: 24pt;
}
h3 {
  font-size: 18pt;
}
h4 {
  font-size: 16pt;
}
p {
  font-size: 16pt;
  line-height:1.5em;
}

/* ---- END: Text Basics ---- */
/* ---- START: Layout Basics ---- */

body {
  padding: 0 4vw;
}
img {
  width: 100%;
}
.full-width-wrapper {
  position: relative;
}

.full-width-wrapper::before, .full-width-wrapper::after {
  content: "";
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0%;
  background-color: inherit;
  z-index: 0;
}

.full-width-wrapper::before {
  left: 100%;
}

.full-width-wrapper::after {
  right: 100%;
}

/* ---- END: Layout Basics ---- */
/* ---- START: Screen Reader Classes ---- */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

/* ---- END: Screen Reader Classes ---- */
/* ---- START: Logo & Navbar ---- */

.nav__container {
  display: flex;
  height: 60px;
}
.nav__container ul {
  display: flex;
  justify-content: space-evenly;
  li {
    list-style: none;
    align-items:center;
    a {
      text-decoration: none;
      font-size: 1.1em;
    }
  }
}
.logo-container {
  display: flex;
}
.logo {
  align-items:center;
  width: 200px;
  height: auto;
}
.logo-container a {
  text-decoration: none;
}
/* Desktop */
@media (min-width:1025px) {
  .nav__container {
    height: 50px;
  }
  .nav__container {
    .logo-container {
      width: 25vw;
    }
    ul {
      width: 75vw;
    }
  }
  .logo {
    width: 200px;
    height: auto;
  }
}
/* Tablet & Mobile */
@media (max-width:1024px) {
  .nav__container {
    display: block;
  }
  .nav__container {
    .logo-container {
      display: block;
      width: 100%;
    }
    ul {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      li a {
        font-size: 0.9em;
      }
    }
  }
  .logo {
    width: 200px;
    height: auto;
  }
}
/* ---- END: Logo & Navbar ---- */
/* ---- START: Featured Banner ---- */
.featured-banner  {
  display: flex;
}
.featured-banner__text-container {
  width: 50%;
  padding: 40px;
}
.featured-banner__img-container {
  width: 50%;
}
/* ---- END: Featured Banner ---- */
/* ---- START: Featured Cards ---- */
.featured-cards__title-row,
.featured-cards__card-row,
.card {
    display: flex;
}

.card {
    width: 200px;
    flex-flow: column;
}
.card__text-container {
    padding: 5px 10px;
}
/* ---- END: Featured Cards ---- */
/* ---- START: Footer ---- */
footer {
  display: flex;
  background-color: #495E57;
  color: white;
  padding: 30px 80px;
}
/* ---- END: Footer ---- */